.slide-in-right {
    animation: slide-in-right 0.5s ease-out forwards;
  }

.slide-to-right {
  animation: slide-to-right 0.5s ease-out forwards;
}
  
  @keyframes slide-in-right {
    from {
      right: -100%;
    }
    to {
      right: 0;
    }
  }
  
  @keyframes slide-to-right {
    from {
      right: 0;
    }
    to {
      right: -100%;
    }
  }